@import '../../styles/vars';

.newPassword {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  &__container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
  }
  &__logo {
    width: 150px;
    margin-bottom: 48px;
    justify-self: center;
    display: none;
  }
  &__title {
    font-size: var(--lg);
    margin-bottom: 12px;
    text-align: center;
  }
  &__subtitle {
    color: var(--very-light-pink);
    font-size: var(--md);
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 32px;
    text-align: center;
  }
  &__form {
    display: flex;
    flex-direction: column;
  }
  &__label {
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
  }
  &__input {
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    width: 96%;
    height: 30px;
    font-size: var(--md);
    padding: 6px;
    margin-bottom: 12px;
    margin-top: 5px;
  }
  &__button-primary {
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
    &--button {
      margin-top: 14px;
      margin-bottom: 30px;
    }
  }
}
@media (max-width: 640px) {
  .newPassword {
    &__logo {
      display: block;
    }
  }
}