@import 'vars';

.order {
  display: grid;
  grid-template-columns: 120px 138px;
  gap: 16px;
  align-items: center;
  background-color: var(--text-input-field);
  margin-bottom: 24px;
  width: 300px;
  border-radius: 10px;
  p:nth-child(1) {
    display: flex;
    flex-direction: column;
  }
  p:nth-child(2) {
    text-align: end;
    font-weight: bold;
    background-color: var(--text-input-field);
  }
  p span:nth-child(1) {
    font-size: 14px;
    font-weight: bold;
    align-self: center;
  }
  p span:nth-child(2) {
    font-size: 12px;
    color: var(--very-light-pink);
    margin: 5px 25px;
  }
}
