@import 'vars';

.productDetail {
  width: 360px;
  padding-bottom: 24px;
  position: absolute;
  right: 0;
  &__close {
    background: var(--white);
    width: 14px;
    height: 14px;
    position: absolute;
    top: 24px;
    left: 24px;
    z-index: 2;
    padding: 12px;
    border-radius: 50%;
    &:hover {
      cursor: pointer;
    }
  }
  img:nth-child(2) {
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius: 0 0 20px 20px;
  }
}
@media (max-width: 640px) {
  .productDetail {
    width: 100%;
  }
}
