@import 'vars';

.login {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  &__container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
  }
  &__logo {
    width: 150px;
    margin-bottom: 50px;
    justify-self: center;
    display: none;
  }
  &__title {
    font-size: var(--lg) ;
    margin-bottom: 12px;
    text-align: center;
  }
  &__subtitle {
    color: var(--very-light-pink);
    font-size: var(--md);
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 32px;
    text-align: center;
  }
  &__email-image {
    width: 132px;
    height: 132px;
    border-radius: 50%;
    background-color: var(--text-input-field);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    img {
      width: 80px;
      height: 50px;
    }
  }
  &__resend {
    font-size: var(--sm);
    text-align: center;
    span {
      color: var(--very-light-pink);
    }
    a {
      color: var(--hospital-green);
      text-decoration: none;
    }
  }
  &__button-primary {
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    height: 50px;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    &--button {
      margin-top: 14px;
      margin-bottom: 30px;
    }
  }
}
@media (max-width: 640px) {
  .login {
    &__logo {
      display: block;
    }
  }
}
/*
.form {
  display: flex;
  flex-direction: column;
}*/