@import '../../styles/vars';

.productInfo {
  margin: 24px 24px 0 24px;
  p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0%;
    margin-bottom: 6px;
  }
  p:nth-child(2) {
    color: var(--very-light-pink);
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 36px;
  }
  p:nth-child(3) {
    color: var(--very-light-pink);
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 36px;
  }
  &__button {
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    height: 50px;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    &--add-cart {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
